## Análise de Negócios

### Preços de Combustíveis

In [1]:
# Utilizamos a criação da tabela no PostgreSQL

"""
CREATE TABLE anp.preco_combustivel(
		 regiao 		varchar(255)
		,estado 		varchar(255)
		,municipio 		varchar(255)
		,revenda 		varchar(255)
		,cnpj 			varchar(255)
		,nome_rua 		varchar(255)
		,numero_rua 	varchar(255)
		,complemento 	varchar(255)
		,bairro 		varchar(255)
		,cep 			varchar(255)
		,produto 		varchar(255)
		,data_coleta 	date
		,valor_venda 	float
		,unidade_medida varchar(255)
		,bandeira  		varchar(255)
)

"""

'\nCREATE TABLE anp.preco_combustivel(\n\t\t regiao \t\tvarchar(255)\n\t\t,estado \t\tvarchar(255)\n\t\t,municipio \t\tvarchar(255)\n\t\t,revenda \t\tvarchar(255)\n\t\t,cnpj \t\t\tvarchar(255)\n\t\t,nome_rua \t\tvarchar(255)\n\t\t,numero_rua \tvarchar(255)\n\t\t,complemento \tvarchar(255)\n\t\t,bairro \t\tvarchar(255)\n\t\t,cep \t\t\tvarchar(255)\n\t\t,produto \t\tvarchar(255)\n\t\t,data_coleta \tdate\n\t\t,valor_venda \tfloat\n\t\t,unidade_medida varchar(255)\n\t\t,bandeira  \t\tvarchar(255)\n)\n\n'

### Instalando as Bibliotecas

In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp311-cp311-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 9.6 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps

In [8]:
conn = ps.connect(dbname = 'ANP',
                    user ='postgres',
                    password = 'crf2038',
                    host = 'localhost',
                    port = '5432' )

In [9]:
sql = """
SELECT * FROM anp.preco_combustivel
"""

In [10]:
df = sqlio.read_sql_query(sql, conn)

C:\Users\fabia\AppData\Local\Temp\ipykernel_10688\76855033.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn)

In [11]:
df.head()

  regiao estado  ... unidade_medida                      bandeira
0     NE     BA  ...        R$ / m³  PETROBRAS DISTRIBUIDORA S.A.
1     NE     BA  ...     R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2     NE     BA  ...     R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3     NE     BA  ...     R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4      S     RS  ...        R$ / m³                        BRANCA

[5 rows x 15 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401370 entries, 0 to 4401369
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   regiao          object
 1   estado          object
 2   municipio       object
 3   revenda         object
 4   cnpj            object
 5   nome_rua        object
 6   numero_rua      object
 7   complemento     object
 8   bairro          object
 9   cep             object
 10  produto         object
 11  data_coleta     object
 12  valor_venda     float64
 13  unidade_medida  object
 14  bandeira        object
dtypes: float64(1), object(14)
memory usage: 503.7+ MB

In [13]:
df.shape

(4401370, 15)